# Server side
LINE_NOTIFY_URL="https://notify-api.line.me/api/notify"
LINE_NOTIFY_SECRET_TOKEN=

# Prisma connection
POSTGRES_PRISMA_URL="postgresql://USERNAME:PASSWORD@IP_ADDRESS:PORT/DB_NAME?schema=SCHEMA_NAME"
POSTGRES_URL_NON_POOLING="postgresql://USERNAME:PASSWORD@IP_ADDRESS:PORT/DB_NAME?schema=SCHEMA_NAME"

# Docker compose
USERNAME=xxx
PASSWORD=yyy

# t3-env for CI
SKIP_ENV_VALIDATION=

# Auth.js
AUTH_URL="http://localhost:3000"
AUTH_SECRET=""
# GITHUB_CLIENT_ID=""
# GITHUB_CLIENT_SECRET=""

# Sentry
SENTRY_AUTH_TOKEN=
NEXT_PUBLIC_SENTRY_DSN=

# Seed for Prisma
USER_EMAIL=
USER_PASSWORD=
