# Line Notify
LINE_NOTIFY_SECRET_TOKEN=

# Prisma connection
POSTGRES_PRISMA_URL="postgresql://USERNAME:PASSWORD@IP_ADDRESS:PORT/DB_NAME?schema=SCHEMA_NAME"
POSTGRES_URL_NON_POOLING="postgresql://USERNAME:PASSWORD@IP_ADDRESS:PORT/DB_NAME?schema=SCHEMA_NAME"

# Docker Compose
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=dump-db

# t3-env for CI
SKIP_ENV_VALIDATION=

# Auth.js
AUTH_URL="http://localhost:3000"
AUTH_SECRET=

# Sentry
SENTRY_AUTH_TOKEN=
SENTRY_REPORT_URL=

# Seed for Prisma
SEED_EMAIL=
SEED_PASSWORD=
