# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules

# Next.js
/.next
/out

# Production
/build

# Misc
.DS_Store

# Env files
.env
.env.production

# TypeScript
*.tsbuildinfo
next-env.d.ts

# MinIO SSL
minio/certs
