# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Storybook
.storybook-static

# Dependencies
node_modules

# Testing
/.vitest-coverage
/.storybook-coverage
/.playwright-output

# Next.js
/.next
/out

# Production
/build

# Misc
.DS_Store

# Env files
.env

# TypeScript
*.tsbuildinfo
next-env.d.ts
