GITHUB_SECRET_KEY=
GITHUB_USER_NAME=
GITHUB_USER_EMAIL=

PGHOST=172.17.0.1
PGPORT=5432
PGUSER=
PGPASSWORD=
PGDATABASE=

BLOG_OUTPUT_PATH="blog/src/content/news"
MYPAGE_OUTPUT_PATH="mypage/_markdown/programming/FromDump.md"
