name: release-please
permissions:
    contents: write
    pull-requests: write
on:
    push:
        branches:
            - main
jobs:
    release-please:
        runs-on: ubuntu-24.04
        timeout-minutes: 20
        steps:
        - uses: googleapis/release-please-action@d1a8f221d7723166f48a584aebba00ef3f6febec
          with:
            token: ${{ secrets.ACTIONS_GITHUB_TOKEN }}
            # this is a built-in strategy in release-please, see "Action Inputs" for more options
            release-type: node
